<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Minesweeper</title>
        <link rel="stylesheet" href="/static/styles/minesweeper.css"/>
    </head>
    <body>
        {% include "menubar.html" %}

        <div class="grid-container" id="grid-container">
            <!-- Buttons mit Nummern 1 bis 25 werden hier von JavaScript eingefügt -->
        </div>
        <div id="controls">
        </div>
        <div class="bet-area">
            <input id="betValue" type="number" value="10"/>
            <input id="mineCount" type="number" value="5"/>
            <button id="betButton">Place Bet</button>
        </div>
        <div class="cash-out-area">
            <label id="cashOutValue">0</label>
            <button id="cashOutButton">Cash out</button>
        </div>
        <script type="text/javascript" src="/static/scripts/minesweeperFrontEnd.js"></script>
    </body>
</html>