<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>BlackJack</title>
        <link rel="stylesheet" href="/static/styles/black_jack.css">
    </head>

    <body>
        <header>
            {% include "menubar.html" %}
        </header>
        <main>
            <h1 id="blackjack">BlackJack</h1>
            <h2>Dealer: <span id="sumDealer"></span></h2>
            <div id="cardsDealer">
                <!-- Placeholder for the dealer's hidden card -->
                <img id="hiddenCard" src="/static/images/card_deck_black_jack/back.svg" alt="Backside">
            </div>
            <h2>You: <span id="sumPlayer"></span></h2>
            <div id="cardsPlayer"></div>
            <div id="betTool">
                <label for="betAmount">Bet:</label>
                <div class="bet-container">
                    <!-- Buttons to adjust the bet amount -->
                    <button type="button" class="input-number-button" id="decrementBetBy10">-10</button>
                    <button type="button" class="input-number-button" id="decrementBetBy1">-1</button>
                    <input id="betAmount" type="number" value="10" min="1" />
                    <button type="button" class="input-number-button" id="incrementBetBy1">+1</button>
                    <button type="button" class="input-number-button" id="incrementBetBy10">+10</button>
                </div>
            </div>
            <!-- Game control buttons -->
            <button id="start">Start</button>
            <button id="hit">Hit</button>
            <button id="stay">Stay</button>
            <button id="restart">Play Again</button>
            <div id="result"></div>
        </main>
        <footer></footer>
    <script type="text/javascript" src="/static/scripts/black_jack.js"></script>
    </body>

    </html>