<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coinflip</title>
</head>
<body style="margin: 0; padding: 0;">

    {% include "menubar.html" %}

    <div>
        <label for="bet">
            Bet:
            <input id="bet" type="number" value="10"/>
        </label>

        <label>
            <input type="radio" value="head" name="choice" checked="checked">
            Head
        </label>

        <label>
            <input type="radio" value="tail" name="choice">
            Tail
        </label>

        <p id="result"></p>
        <button id="flip">Flip coin</button>
    </div>


    <script type="text/javascript" src="/static/scripts/coinflip.js"></script>
</body>
</html>