<link rel="stylesheet" href="/static/styles/menubar.css">

<div id="menubar">

    <div id="menubar_left">
        <div class="menubar_icon_div">
            <a href="/">
                <img class="menubar_icon" src="/static/images/home.png"/>
            </a>
        </div>
    </div>

    <div id="menubar_right">
            <div class="menubar_username_div">
                <a id="account-link"></a>
            </div>
            <div id="balance-div" class="menubar_username_div">
                <p id="balance"></p>
            </div>
    </div>
</div>