<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coinflip</title>
    <link rel="stylesheet" href="/static/styles/coinflip.css">
</head>
<body>

    {% include "menubar.html" %}

    <div style="flex:1">
        <div id="bet-div">
            <label for="bet" style="font-size: 18px">
                Bet:
            </label>
            <div style="display: inline">

                <button type="button" class="input-number-button" onclick="this.parentNode.querySelector('[type=number]').stepDown();">
                    -
                </button>
                <input id="bet" type="number" value="10"/>
                <button type="button" class="input-number-button" onclick="this.parentNode.querySelector('[type=number]').stepUp();">
                    +
                </button>
            </div>
        </div>

        <label class="choice-radio-label">
            <input class="choice-radio-button" type="radio" value="head" id="head" name="choice" checked="checked">
            Head
        </label>

        <label class="choice-radio-label">
            <input class="choice-radio-button" type="radio" value="tail" id="tail" name="choice">
            Tail
        </label>

        <div>
            <img alt="Coin" id="coin-img" src="/static/images/head.svg" style="margin: 1%;"/>
        </div>
        <button id="flip">Flip coin</button>
    </div>


    <script type="text/javascript" src="/static/scripts/coinflip.js"></script>
</body>
</html>