* {
	font-family: Arial, Helvetica, sans-serif;
}

#logout {
    color: black;
    background-color: #cd4156;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    width: fit-content;
}

#logout:hover {
    cursor: pointer;
}

#stats-header {
    font-size: 28px;
    font-weight: bolder;
}

.stats-element-header {
    font-size: 22px;
    font-weight: bold;
}

.stats-element-entry {
    font-size: 18px;
}