body {
    text-align: center;
}

form {
    display: inline-block;
}

input[type=text],
input[type=password]
{
    font-size: 20px;
    display: inline-block;
    border: none;
    border-bottom: 2px solid #8FB8DE;
    margin: 5%;
}

input[type=text]:focus,
input[type=password]:focus
{
    border: none;
    border-bottom: 2px solid #4485ACFF;
}

input[type=submit] {
    margin: 5% 5% 20%;
    background-color: #8FB8DE;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    width: 40%;
}

#register-div {
}

#register {
	font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    background-color: #b7d6f3;
    padding: 0.5%;
}