body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.roulette {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wheel_img {
    position: relative;
    width: 35%;
    height: 35%;
}

#ball_img {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 7%;
}

#bet-type {
    font-size: 18px;
    border: 2px solid #8FB8DE;
    border-radius: 5px;
    background-color: #8FB8DE;
    padding-right: 15px;
    padding-left: 5px;
    width: fit-content;
    cursor: pointer;
    outline: none;
}

#bet-type {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('/static/images/roulette/dropdown_arrow.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 12px;
}

#input-container {
    margin: 1%;
}

#spin {
    color: black;
    background-color: #8FB8DE;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    width: fit-content;
}

#bet, #number {
    border: none;
    border-bottom: 2px solid #8FB8DE;
    text-align: center;
    font-size: 18px;
    width: fit-content;
}

#bet::-webkit-outer-spin-button,
#bet::-webkit-inner-spin-button,
#number::-webkit-outer-spin-button,
#number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.input-number-button {
    color: black;
    background-color: #8FB8DE;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

#bet-div {
    margin: 1%;
}

.choice-radio-label {
    font-size: 18px;
}

.choice-radio-button,
#spin:hover,
.input-number-button:hover {
    cursor: pointer;
}

root {
    --start-deg: 0deg;
    --target-deg: 0deg;
    --target-wait-deg: 360deg;
}

@keyframes spin {
    from {
        transform: rotate(var(--start-deg));
    }
    to {
        transform: rotate(var(--target-deg));
    }
}

.spinning {
    animation: spin 5s ease-out forwards;
}