body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#wheel_img {
    width: 35%;
    height: 35%;
}

#spin {
    color: black;
    background-color: #8FB8DE;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    width: fit-content;
}

#bet {
    border: none;
    border-bottom: 2px solid #8FB8DE;
    text-align:center;
    font-size: 18px;
    width: fit-content;
}

#bet::-webkit-outer-spin-button,
#bet::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.input-number-button {
    color: black;
    background-color: #8FB8DE;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

#bet-div {
    margin: 1%;
}

.choice-radio-label {
    font-size: 18px;
}

.choice-radio-button,
#spin:hover,
.input-number-button:hover {
    cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(540deg);
  }
}

.spinning {
  animation: spin 1s linear infinite;
}